<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Debtor_Tests/src/mainPackage/frameWork/Leads_and_Leads_providers/LeadsCSVGeneration.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mainPackage.frameWork.Leads_and_Leads_providers.LeadsCSVGeneration"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="ValidLeadsDat leads.dat 100"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Debtor_Tests"/>
</launchConfiguration>
